.App {
  font-family: "Raleway", sans-serif;
}

.form {
  margin: 0 auto;

}

.row {
  background-color: #FFD9FF;
}

/* home page */

#homeRow {
  background-color: #0db4b9;
}

/* client form */

#label {
  color: white;
}

#name {
  color: white;
  background-color: #0db4b9;
}

#age {
    color: white;
    background-color: #0db4b9;
}

#location {
  color: white;
  background-color: #0db4b9;
}

#school {
  color: white;
  background-color: #0db4b9;
}

#rate {
  color: white;
  background-color: #0db4b9;
}

#goals {
  color: white;
  background-color: #0db4b9;
}

#notes {
  color: white;
  background-color: #0db4b9;
}

/* buttons & badges */

#button {
  color: white;
  background-color: #0db4b9;
  border: #0db4b9;
  margin: 0 auto;
  display: block;
}

#badge {
  background-color: white;
  color: #0db4b9;
}

/* login & signup */
#login {
  color: white;
  margin: 1%;
}

#signup {
  color: white;
  margin: 1%;
}

#clientCard:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
